@charset "UTF-08";

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --cor-principal: #596992;
    --cor-secundaria: #425377;
    --cor-terciaria: #f8e5b9;
    --cor-detalhes: #aebadf;
    --cor-titulo: #303c55;
}

#produtos {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: grid;
}

#produtos img {
    width: 10vw;
    height: 9vh;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

#boloContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    max-width: 1200px;
}

#kitsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    max-width: 1200px;
}

#docesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    max-width: 1200px;
    margin: auto;
}

.cardBolo {
    display: flex;
    overflow: hidden;
    padding: 30px;
    transition: transform 0.3s ease;
}

.cardKits {
    display: flex;
    overflow: hidden;
    padding: 30px;
    transition: transform 0.3s ease;
}

.cardDoces {
    display: flex;
    overflow: hidden;
    padding: 30px;
    transition: transform 0.3s ease;
}

.bolosInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 6px;
    text-align: center;
    align-content: space-evenly;
}

.kitsInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    text-align: center;
    align-content: space-evenly;
}

.docesInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 6px;
    text-align: center;
    align-content: space-evenly;
}

button {
    border: none;
    background-color: var(--cor-secundaria);
    border-radius: 15px;
    height: 35px;
}