@charset "UTF-08";

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --cor-principal: #596992;
    --cor-secundaria: #425377;
    --cor-terciaria: #f8e5b9;
    --cor-detalhes: #aebadf;
    --cor-titulo: #303c55;
}

body{
    background-color: blue;
}


header,
#headerBerith {
  background-image: url(/assets/ori-header-background_resized.png);
  background-size: cover;
  position: sticky;
  border-bottom: 10px solid var(--cor-titulo);
  top: 0;
  z-index: 1000;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.logo img {
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 100px;
}

.indice ul {
  display: flex;
  gap: 100px;
  list-style: none;
  padding-top: 120px;
  margin: 0;
  
}

.btn-carrinho{
 text-decoration: none;
 background-color: var(--cor-secundaria);
 border: none;
  color: whitesmoke;
  font-family: "Lobster Two", sans-serif;
  font-size: 2.0rem;
  transition: color 0.3s ease;
}

.btn-carrinho button{
  background-color: var(--cor-secundaria);
}

.indice a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Lobster Two", sans-serif;
  font-size: 2.0rem;
  transition: color 0.3s ease;
}

.indice a:hover {
  color: var(--cor-terciaria);
}

/* Botão hamburguer */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: whitesmoke;
  cursor: pointer;
}

/* ----------- RESPONSIVO ------ */
@media screen and (max-width: 425px) {
  .menu-toggle {
    display: block;
  }

  .indice {
    display: none;
    width: 100%;
    background-color: rgba(48, 60, 85, 0.95); /* fundo escuro no menu aberto */
    border-top: 2px solid var(--cor-terciaria);
  }

  .indice ul {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .indice li {
    padding: 10px 0;
  }

  .indice a {
    font-size: 1.2rem;
  }

  .indice.active {
    display: block;
  }

  .headerContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    width: 55px;
    height: 55px;
  }
}
/* header acima */

main {
    background-color: var(--cor-terciaria);
    flex-wrap: wrap;
    flex: 1 2 300px;
}

ul {
    list-style: none;
}

main h2 {
    font-family: "Lobster Two", sans-serif;
    color: var(--cor-secundaria) !important;
    background-color: #4253777e;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
}

h2 {
    font-family: "Lobster Two", sans-serif;

}

#sessaoTexto {
    justify-content: space-around;
    padding: 20px;
}

#sessaoTexto p {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#sessaoTexto p:hover {
    transform: scale(1.05);
}

.coluna-texto {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: space-around;
}

.coluna-texto p {
    text-align: center;
    padding: 0px 50px 0px 50px;
    line-height: 30px;
}

.contato button {
    color: var(--cor-terciaria);
    background-color: var(--cor-titulo);
    border: none;
    width: 80vw;
    height: 8vh;
    border-radius: 100px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contato button:hover {
    transform: scale(1.05);
}

.contato a {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.contato a:hover {
    color: var(--cor-detalhes);
}

.contato ul {
    padding: 0;
}

.contato li button {
    justify-content: center !important;
    padding-left: 0;
}


/* responsividade */

@media screen and (max-width: 480px) {
  #sessaoTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    gap: 30px;
  }

  .coluna-texto {
    flex-direction: column;
    gap: 30px;
  }

  .coluna-texto p {
    padding: 0 15px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
  }

  .contatoMapaContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
  }

  .coluna-mapa iframe {
    width: 100% !important;
    height: 300px;
    border-radius: 10px;
  }

  .contato ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 15px;
  }

  .contato h2 {
    font-size: 26px;
    width: 140px;
  }

  .contato button {
    width: 100%;
    padding: 10px !important;
    max-width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 16px;
  }

  .contato a {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}




footer {
    background-image: url(/assets/ori-header-background_resized.png);
    background-size: cover;

    border-top: 30px solid var(--cor-titulo);
    color: var(--cor-terciaria);
    padding: 20px;
    box-sizing: border-box;
}

.sobreFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.imgFooter img {
    background-color: white;
    border-radius: 130px;
    height: 130px;
    width: auto;
}

.redesSociais {
    text-align: center;
}

.redesSociais h2 {
    margin-bottom: 10px;
}

.redesSociais ul {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
}

.redesSociais img {
    width: 80px;
    height: 80px;
}

.funcionamento ul,
.copy ul,
.infoFooter ul {
    list-style: none;
    padding: 0;
}

.funcionamento h2 {
    font-size: 2.0rem;
    margin-bottom: 8px;
}

#sobreFooter2 {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
}

.infoFooter ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.infoFooter a,
.copy a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.infoFooter a:hover,
.copy a:hover {
    color: var(--cor-detalhes);
}

.copy ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.copy p {
    margin: 0;
}

/* Responsivo */
@media screen and (max-width: 425px) {
    .sobreFooter {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imgFooter img {
        height: 80px;
        margin-bottom: 10px;
    }

    .funcionamento,
    .redesSociais {
        width: 100%;
    }

    #sobreFooter2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .infoFooter ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .copy ul {
        align-items: center;
    }

    .redesSociais ul {
        gap: 20px;
    }

    .redesSociais img {
        width: 35px;
        height: 35px;
    }
}

/* footer acima */

/* modal carrinho */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Quicksand", sans-serif;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.modal.ativo {
  display: flex;
}

.modal-conteudo {
  background: var(--cor-detalhes);
  padding: 25px 20px;
  border-radius: 16px 0 0 16px;
  width: 90%;
  max-width: 480px;
  height: 100%;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  color: var(--cor-titulo);
  font-size: 16px;
  text-align: center;
  position: relative;
  animation: slideIn 0.4s ease forwards;
  display: flex;
  flex-direction: column;
  
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.modal-conteudo h2 {
  font-family: "Lobster Two", cursive;
  font-size: 28px;
  margin-bottom: 15px;
  color: var(--cor-titulo);
}

.modal-conteudo p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.botao-confirmar {
  background-color: var(--cor-principal);
  color: var(--cor-terciaria);
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-remover{
  background-color: var(--cor-principal);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.botao-remover:hover {
  background-color: var(--cor-titulo);
}


#fechar {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 22px;
  cursor: pointer;
  background-color: var(--cor-principal);
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.fechar:hover {
  background-color: var(--cor-titulo);
}